* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
  }
  
  .login-form .logo {
    width: 150px;
    height: 152.609px;
    display: block;
    margin: 11px 150px 10px;
  }
  
  h1 {
    color: #ffffff;
    font-family: sans-serif;
    font-size: 20px;
    font-style: normal;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 29px;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
  }
  
  body {
    background: #d9d9d9;
    font-family: sans-serif;
  }
  
  .login-form {
    background: #dfa100;
    width: 458px;
    height: 428px;
    margin: 65px auto;
    display: flex;
    border-radius: 20px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  }
  
  .login-form .input-field {
    position: relative;
    width: 100%;
  }
  
  .login-form .input-field input{
    display: block;
    font-family: sans-serif;
    font-size: 20px;
    width: 90%;
    padding: 8px 60px;
    margin-left: 21px;
    border: 1px solid #FDAE39;
    outline: none;
    -webkit-transition: all .2s;
    transition: all .2s;
    border-radius: 10px;
    margin-top: 10px;
  }
  
  .input-field input::placeholder {
    color: #858585;
  }
  
  .input-field i {
    position:absolute;
    left: 40px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
    color: #545454;
  }
  
  .input-field img {
    max-width: 100%;
    max-height: 100%;
  }
  
  .login-form .input-field input:focus {
    border-color: #222;
  }
  
  .remember-me {
    display: flex;
    font-size: 20px;
    margin: 10px 0 20px 20px;
  }
  
  .remember-me label {
    display: inline-block;
    color: #565656;
    margin-right: 10px;
  }
  
  .login-form .action button {
    width: 20%;
    border: none;
    display: inline;
    padding: 8px 5px;
    border-radius: 10px;
    font-family: sans-serif;
    font-size: 20px;
    cursor: pointer;
    background: #020200;
    color: #ffffff;
    letter-spacing: 0.2px;
    outline: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    margin: 0 10px;
  }
  
  .login-form .action {
    text-align: center;
  }
  
  .login-form .action button:hover {
    background: #d8d8d8;
  }